{% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
    background-color: rgb(163, 163, 163);
    margin: auto;
    text-align: center;
    }   
    .box{ 
        text-align: left;
        border: 2px black;
        display: inline-block;
        background-color: rgb(230, 250, 159);
        margin-left: 20px;
        height: 400px;
        width: 400px;
    }


    </style>
 
</head>
<body>
   
    <form method="post" action="counter" style="margin-top: 30px;">
        {% csrf_token %}
        <textarea name="words"  cols="30" rows="10"></textarea>
        <br>
        <input type="submit" style="margin-top: 30px;">
    </form>


    <form  method="post" action="">
        {% csrf_token %}
        <input name="name" type="text">
        <input name="id" type="number">
        <input name="details" type="text">
        <input type="submit" style="margin-top: 30px;">


    </form>



    {% for feature in features %}
    <div class="box">
        <h1 style="text-align: center;">Hi {{feature.name}}</h1>
        <p style="margin-left: 5px;">my number is {{feature.id}}</p>
        <h3 style="margin-left: 5px;"> details : {{feature.details}}</h3>

        
    </div>
    {% endfor %}








</body>
</html>